In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
db=pd.read_csv("database_cleaned.csv", sep=';')
db.head()

,Unnamed: 0.1,...1,...2,Unnamed: 0,index,id,submitdate,lastpage,startlanguage,seed,A1[A11],A1[A12],A1[A13],A1[A14],A1[A15],A1[other],prod_fb,prod_insta,prod_tk,prod_tw,prod_yt,prod_other,A3[A21],A3[A22],A3[A23],A3[A24],A3[A25],A4[A21],A4[A22],A4[A23],A4[A24],A4[A25],A5[A21],A5[A22],A5[A23],A5[A24],A5[A25],A6,B1[SQ001],B1[SQ002],B2,B3,B4[B41],B4[B42],B4[B43],B4[B44],B5,B6[B61],B6[B62],B6[B63],B7[B71],B7[B72],B7[B73],B7[B74],B7[B75],B7[B76],B7[B77],creator_prog,B8[SQ002],B8[SQ003],B8[SQ004],B9,B10,B11[B111],B11[B112],B12[B121],B12[B122],B12[B123],B12[B124],rev_ad,rev_subs,rev_sponso,rev_don_plat,rev_don_ext_plat,rev_prod_derives,B13[RB137],rev_other,B14[RB131],B14[RB132],B14[RB133],B14[RB134],B14[RB135],B14[RB136],B14[RB137],B14[other],rev_share,C0[C01],C0[C02],C0[C03],C0[C04],C0[C05],C0[C06],C0[C07],C1[C11],C1[C12],C1[C13],C1[C14],C1[C15],D0[D1],D0[D2],D0[D3],D0[D4],D0[D5],E1,E2,E3,E4,E4[other],E5,E6[E61],E6[E62],E6[E63],E6[E64],E6[E65],E7,E8[E81],E8[E82],E8[E83],E8[E84],E8[E85],E9,E10,rev_2021,T1[RPF],T1[RPI],T1[RPT],T1[RAF],T1[RAI],T1[RAT],T2[TWVOD],T3[RAS],help_prod,help_manag,freq,format,rev_don,dummy_fb,dummy_insta,dummy_tk,dummy_tw,dummy_yt,nb_plat_prod,MH,duration,follow,follow_bin,topic,clust
0,1,1,0,0,0,2,1980-01-01,5,fr,38818287,Oui,Oui,Oui,Oui,Non,NaN,Non,Non,Non,Oui,Non,NaN,NaN,NaN,NaN,Entre un et deux ans.,NaN,NaN,NaN,NaN,Moins de 1 000 personnes.,NaN,NaN,NaN,NaN,Jeux Vidéo,NaN,Twitch,Non,Oui,Plusieurs fois par semaine,"Oui, moins de 500€.",Non.,Non.,Non.,"Oui, aide bénévole.","Oui, rarement.",Non.,Non.,Non.,NaN,NaN,NaN,De la part de la communauté,NaN,NaN,NaN,No,Non,Non,Non,Jamais,NaN,Jamais,Jamais,NaN,NaN,NaN,NaN,Yes,Yes,No,Oui,Non,Non,Non,No,Non,Oui,NaN,Non,NaN,NaN,NaN,NaN,Less than 10%,Pas du tout d'accord.,Tout à fait d'accord.,Plutôt pas d'accord.,Plutôt d'accord.,Pas du tout d'accord.,Pas du tout d'accord.,Pas du tout d'accord.,Pas du tout d'accord.,Plutôt d'accord.,Tout à fait d'accord.,Pas du tout d'accord.,Pas du tout d'accord.,Je ne suis pas concerné⸱e,Je ne suis pas concerné⸱e,Plutôt pas d'accord.,Je ne suis pas concerné⸱e,Je ne suis pas concerné⸱e,Un homme,De 26 à 35 ans,"BTS, BUT, DEUG",Autre,DEUG de Droit et CAP Boulangerie,Sans emploi,Rarement,Rarement,Assez souvent,Très souvent,Très souvent,Oui,Très souvent,Très souvent,Jamais,Assez souvent,Assez souvent,"Oui, cela m'intéresse un peu",Je suis pour un allégement de la régulation,Between 15000€ and 30000€,False,False,False,False,False,False,False,False,Yes,No,Weekly,Live_only,Yes,0,0,0,1,0,1,False,Less than 2 years,Less than 1 000 followers,Less than 10 000 followers,Jeux Vidéo,3
1,2,2,2,2,2,8,1980-01-01,5,fr,1141161947,Non,Oui,Non,Oui,Non,twitter,Non,Non,Non,Oui,Non,NaN,NaN,NaN,NaN,Entre deux et quatres ans,NaN,NaN,NaN,NaN,Entre 1 000 et 10 000 personnes.,NaN,NaN,NaN,NaN,Jeux Vidéo,NaN,Twitch,Non,Oui,Plusieurs fois par semaine,"Oui, moins de 500€.",Je ne suis pas concerné·e.,Je ne suis pas concerné·e.,Je ne suis pas concerné·e.,Je ne suis pas concerné·e.,"Oui, rarement.",Non.,Non.,Non.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes,Non,Non,Non,Jamais,NaN,Jamais,Jamais,NaN,NaN,NaN,NaN,No,Yes,No,Oui,Oui,Non,Non,No,NaN,Oui,NaN,Non,Non,NaN,NaN,NaN,Between 11% and 50%,Tout à fait d'accord.,Tout à fait d'accord.,Plutôt d'accord.,Tout à fait d'accord.,Plutôt d'accord.,Pas du tout d'accord.,Plutôt d'accord.,Pas du tout d'accord.,Pas du tout d'accord.,Pas du tout d'accord.,Pas du tout d'accord.,Pas du tout d'accord.,Pas du tout d'accord.,Pas du tout d'accord.,Plutôt d'accord.,Pas du tout d'accord.,Plutôt pas d'accord.,Une femme,De 18 à 25 ans,"Diplôme du second ou troisième cycle (licence,...","Arts, Lettres, Langues",NaN,Étudiant·e,Jamais,Rarement,Jamais,Très souvent,Jamais,Oui,Très souvent,Jamais,Jamais,Jamais,Jamais,"Oui, cela m'intéresse un peu",Je n’ai pas d'avis sur cette question,Less than 15000€,False,False,False,False,False,False,False,False,No,No,Weekly,Live_only,Yes,0,0,0,1,0,1,False,Between 2 and 4 years,Between 1 000 and 10 000 followers,Less than 10 000 followers,Jeux Vidéo,3
2,3,3,3,3,3,9,1980-01-01,5,fr,1423963810,Oui,Oui,Oui,Oui,Oui,NaN,Non,Non,Oui,Oui,Non,NaN,NaN,NaN,Entre un et deux ans.,Entre deux et quatres ans,NaN,NaN,NaN,Moins de 1 000 personnes.,Moins de 1 000 personnes.,NaN,NaN,NaN,Autre,Jeux Vidéo,NaN,Twitch,Non,Oui,Plus rarement,"Oui, entre 500€ et 1 000€.",Non.,Non.,Non.,Non.,"Oui, rarement.",Non.,Non.,Non.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,Non,Non,Non,Jamais,NaN,Jamais,Jamais,NaN,NaN,NaN,NaN,No,No,No,Non,Non,Non,Oui,No,NaN,NaN,NaN,NaN,NaN,NaN,Oui,NaN,Less than 10%,Tout à fait d'accord.,Tout à fait d'accord.,Tout à fait d'accord.,Tout à fait d'accord.,Tout à fait d'accord.,Tout à fait d'accord.,Tout à fait d'accord.,Tout à fait d'accord.,Tout à fait d'accord.,Tout à fait d'accord.,Tout à fait d'accord.,Tout à fait d'accord.,Tout à fait d'accord.,Tout à fait d'accord.,Tout à fait d'accord.,Tout à fait d'accord.,Tout à fait d'accord.,Une femme,De 36 à 50 ans,"BTS, BUT, DEUG",NaN,NaN,Employé·e,Très souvent,Très souvent,Très souvent,Très souvent,Rarement,Oui,Très souvent,Rarement,Rarement,Rarement,Rarement,Je n'ai pas d'avis sur la question,Je n’ai pas d'avis sur cette question,Less than 15000€,False,False,False,False,False,False,False,False,No,No,Rare,Live_only,No,0,0,1,1,0,2,True,Between 2 and 4 years,Less than 1 000 followers,Less than 10 000 followers,Jeux Vidéo,1
3,4,4,4,4,4,10,1980-01-01,5,fr,70374381,Oui,Non,Oui,Oui,Oui,twitter,Non,Non,Oui,Oui,Oui,NaN,NaN,NaN,Depuis moins d'un an.,Entre deux et quatres ans,Entre deux et quatres ans,NaN,NaN,Moins de 1 000 personnes.,Moins de 1 000 personnes.,Moins de 1 000 personnes.,NaN,NaN,Jeux Vidéo,Éducatif / Vulgarisation Scientifique,Jeux Vidéo,Twitch,Non,Oui,Plusieurs fois par semaine,"Oui, entre 500€ et 1 000€.",Non.,Non.,Non.,"Oui, aide rémunérée.","Oui, assez souvent.",Non.,Non.,"Oui, aide bénévole.",NaN,NaN,NaN,NaN,NaN,NaN,De la part de la communauté,Yes,Non,Non,Non,Jamais,NaN,Jamais,Jamais,NaN,NaN,NaN,NaN,Yes,Yes,No,Oui,Non,Non,Non,No,Non,Oui,NaN,Non,NaN,NaN,NaN,NaN,Less than 10%,Tout à fait d'accord.,Tout à fait d'accord.,Tout à fait d'accord.,Tout à fait d'accord.,Plutôt d'accord.,Plutôt pas d'accord.,Pas du tout d'accord.,Plutôt d'accord.,Pas du tout d'accord.,Pas du tout d'accord.,Pas du tout d'accord.,Pas du tout d'accord.,Plutôt pas d'accord.,Plutôt d'accord.,Plutôt d'accord.,Pas du tout d'accord.,Plutôt pas d'accord.,Une femme,De 18 à 25 ans,"Diplôme du second ou troisième cycle (licence,...",Ingénierie et Informatique,NaN,Cadre et profession intellectuelle supérieure,Jamais,Jamais,Très souvent,Très souvent,Très souvent,Oui,Très souvent,Assez souvent,Jamais,Jamais,Rarement,"Oui, cela m'intéresse beaucoup",Je suis pour un renforcement de la régulation,Between 15000€ and 30000€,False,False,False,False,False,False,False,False,Yes,Yes,Weekly,Live_only,Yes,0,0,1,1,1,3,True,Between 2 and 4 years,Less than 1 000 followers,Less than 10 000 followers,Éducatif / Vulgarisation Scientifique,3
4,5,5,5,5,5,11,1980-01-01,5,fr,1960352960,Non,Oui,Non,Oui,Oui,NaN,Non,Non,Non,Oui,Non,NaN,NaN,NaN,NaN,Entre un et deux ans.,NaN,NaN,NaN,NaN,Moins de 1 000 personnes.,NaN,NaN,NaN,NaN,Jeux Vidéo,NaN,Twitch,Non,Oui,Plusieurs fois par semaine,"Oui, entre 1 000€ et 5 000€.","Oui, aide bénévole.","Oui, aide bénévole.","Oui, aide bénévole.","Oui, aide bénévole.","Oui, rarement.","Oui, aide bénévole.","Oui, aide bénévole.","Oui, aide bénévole.",De la part de la communauté,De la part de la communauté,De la part de la communauté,De la part de la communauté,De la part de la communauté,De la part de la communauté,De la part de la communauté,Yes,Non,Non,Non,Jamais,NaN,Jamais,Jamais,NaN,NaN,NaN,NaN,No,Yes,No,Oui,Non,Non,Non,No,NaN,Oui,NaN,Non,NaN,NaN,NaN,NaN,Less than 10%,Plutôt d'accord.,Plutôt d'accord.,Tout à fait d'accord.,Plutôt d'accord.,Tout à fait d'accord.,Plutôt pas d'accord.,Plutôt d'accord.,Tout à fait d'accord.,Tout à fait d'accord.,Plutôt d'accord.,Plutôt d'accord.,Plutôt d'accord.,Je ne suis pas concerné⸱e,Plutôt d'accord.,Plutôt d'accord.,Pas du tout d'accord.,Pas du tout d'accord.,Un homme,De 26 à 35 ans,"Bac général, Bac Professionnel, Bac Technologique","Arts, Lettres, Langues",NaN,Sans emploi,Jamais,Assez souvent,Jamais,Très souvent,Assez souvent,Oui,Assez souvent,Rarement,Rarement,Rarement,Rarement,"Oui, cela m'intéresse beaucoup",Je n’ai pas d'avis sur cette question,Less than 15000€,False,False,False,False,False,False,False,False,Yes,Yes,Weekly,Live_only,Yes,0,0,0,1,0,1,False,Less than 2 years,Less than 1 000 followers,Less than 10 000 followers,Jeux Vidéo,3

## Platform combinaison

### Total combinaison

In [4]:
#Idea = db['combo'][1]=='Main_second_second'

#For each column of platform production, change 'Oui' by the name of the platform and 'Non' by N/A
db['prod_fb']=db['prod_fb'].replace("Oui", "Facebook")

db['prod_insta']=db['prod_insta'].replace("Oui", "Instagram")

db['prod_tk']=db['prod_tk'].replace("Oui", "TikTok")

db['prod_tw']=db['prod_tw'].replace("Oui", "Twitch")

db['prod_yt']=db['prod_yt'].replace("Oui", "YouTube")

In [5]:
db['combo'] = db[['prod_fb', 'prod_insta', 'prod_tk', 'prod_tw', 'prod_yt']].agg('_'.join, axis=1)

In [6]:
db['combo']=db['combo'].str.replace('Non_','')
db['combo']=db['combo'].str.replace('Non','')

In [7]:
#dataframe with the count of platforms combo
df_combo=db.groupby(['A6','combo']).size().reset_index(name='counts')
df_combo.to_csv('platform_combo.csv', sep=';', encoding='utf-8')
df_combo

         A6                                     combo  counts
0    Twitch         Facebook_Instagram_Twitch_YouTube       1
1    Twitch                  Instagram_TikTok_Twitch_       1
2    Twitch           Instagram_TikTok_Twitch_YouTube       5
3    Twitch                  Instagram_Twitch_YouTube       6
4    Twitch                            TikTok_Twitch_       1
5    Twitch                     TikTok_Twitch_YouTube       8
6    Twitch                                   Twitch_      25
7    Twitch                            Twitch_YouTube      11
8   Youtube  Facebook_Instagram_TikTok_Twitch_YouTube       1
9   Youtube         Facebook_Instagram_TikTok_YouTube       3
10  Youtube           Instagram_TikTok_Twitch_YouTube       6
11  Youtube                  Instagram_TikTok_YouTube      12
12  Youtube                  Instagram_Twitch_YouTube       4
13  Youtube                         Instagram_YouTube       4
14  Youtube                     TikTok_Twitch_YouTube       6
15  Youtube                            TikTok_YouTube       6
16  Youtube                            Twitch_YouTube      15
17  Youtube                                   YouTube      32

### Combinaison per secondary platform

In [8]:
df_prin_sec_fb=db.groupby(['A6','prod_fb']).size().reset_index(name='counts')
df_prin_sec_fb

        A6   prod_fb  counts
0   Twitch  Facebook       1
1   Twitch       Non      57
2  Youtube  Facebook       4
3  Youtube       Non      85

In [9]:
df_prin_sec_fb=db.groupby(['A6','prod_insta']).size().reset_index(name='counts')
df_prin_sec_fb

        A6 prod_insta  counts
0   Twitch  Instagram      13
1   Twitch        Non      45
2  Youtube  Instagram      30
3  Youtube        Non      59

In [10]:
df_prin_sec_fb=db.groupby(['A6','prod_tk']).size().reset_index(name='counts')
df_prin_sec_fb

        A6 prod_tk  counts
0   Twitch     Non      43
1   Twitch  TikTok      15
2  Youtube     Non      55
3  Youtube  TikTok      34

In [11]:
df_prin_sec_fb=db.groupby(['A6','prod_tw']).size().reset_index(name='counts')
df_prin_sec_fb

        A6 prod_tw  counts
0   Twitch  Twitch      58
1  Youtube     Non      57
2  Youtube  Twitch      32

In [12]:
df_prin_sec_fb=db.groupby(['A6','prod_yt']).size().reset_index(name='counts')
df_prin_sec_fb

        A6  prod_yt  counts
0   Twitch      Non      27
1   Twitch  YouTube      31
2  Youtube  YouTube      89

## Production motivations per cluster

### Content production motivation in general

In [13]:
#Production to share knowledge

pd.crosstab(db['clust'], db['C0[C01]'], margins=True)

C0[C01]  Pas du tout d'accord.  Plutôt d'accord.  Tout à fait d'accord.  All
clust
1                            0                 7                     35   42
2                            0                 9                     39   48
3                            1                13                     43   57
All                          1                29                    117  147

In [14]:
#Production to pass time

pd.crosstab(db['clust'], db['C0[C02]'], margins=True)

C0[C02],Pas du tout d'accord.,Plutôt d'accord.,Plutôt pas d'accord.,Tout à fait d'accord.,All
clust,,,,,
1,1,17,7,17,42
2,1,24,8,15,48
3,4,20,3,30,57
All,6,61,18,62,147

In [15]:
#Production to learn new skills

pd.crosstab(db['clust'], db['C0[C03]'], margins=True)

C0[C03],Pas du tout d'accord.,Plutôt d'accord.,Plutôt pas d'accord.,Tout à fait d'accord.,All
clust,,,,,
1,0,15,1,26,42
2,1,19,3,25,48
3,0,28,3,26,57
All,1,62,7,77,147

In [16]:
#Production to express themselves

pd.crosstab(db['clust'], db['C0[C04]'], margins=True)

C0[C04],Pas du tout d'accord.,Plutôt d'accord.,Plutôt pas d'accord.,Tout à fait d'accord.,All
clust,,,,,
1,2,21,2,17,42
2,2,24,6,16,48
3,0,32,4,21,57
All,4,77,12,54,147

In [17]:
#Production to lget known by the audience

pd.crosstab(db['clust'], db['C0[C05]'], margins=True)

C0[C05],Pas du tout d'accord.,Plutôt d'accord.,Plutôt pas d'accord.,Tout à fait d'accord.,All
clust,,,,,
1,4,14,13,11,42
2,2,18,4,24,48
3,1,26,12,18,57
All,7,58,29,53,147

In [18]:
#Production to get known by brands

pd.crosstab(db['clust'], db['C0[C06]'], margins=True)

C0[C06],Pas du tout d'accord.,Plutôt d'accord.,Plutôt pas d'accord.,Tout à fait d'accord.,All
clust,,,,,
1,23,5,10,4,42
2,4,13,22,9,48
3,12,22,17,6,57
All,39,40,49,19,147

In [19]:
#Production to earn some income

pd.crosstab(db['clust'], db['C0[C07]'], margins=True)

C0[C07],Pas du tout d'accord.,Plutôt d'accord.,Plutôt pas d'accord.,Tout à fait d'accord.,All
clust,,,,,
1,16,7,14,5,42
2,1,25,8,14,48
3,14,22,10,11,57
All,31,54,32,30,147

### Main platform choice motivations

In [20]:
# Potential audience motivations

pd.crosstab(db['clust'], db['C1[C11]'], margins=True)

C1[C11],Pas du tout d'accord.,Plutôt d'accord.,Plutôt pas d'accord.,Tout à fait d'accord.,All
clust,,,,,
1,2,16,6,18,42
2,0,15,5,28,48
3,6,19,10,22,57
All,8,50,21,68,147

In [21]:
# Presence of other video makers motivations

pd.crosstab(db['clust'], db['C1[C12]'], margins=True)

C1[C12],Pas du tout d'accord.,Plutôt d'accord.,Plutôt pas d'accord.,Tout à fait d'accord.,All
clust,,,,,
1,6,13,9,14,42
2,9,15,13,11,48
3,9,20,17,11,57
All,24,48,39,36,147

In [22]:
# Content moderation features

pd.crosstab(db['clust'], db['C1[C13]'], margins=True)

C1[C13],Pas du tout d'accord.,Plutôt d'accord.,Plutôt pas d'accord.,Tout à fait d'accord.,All
clust,,,,,
1,4,12,15,11,42
2,5,21,15,7,48
3,9,24,15,9,57
All,18,57,45,27,147

In [23]:
# Monetisation features motivations

pd.crosstab(db['clust'], db['C1[C14]'], margins=True)

C1[C14],Pas du tout d'accord.,Plutôt d'accord.,Plutôt pas d'accord.,Tout à fait d'accord.,All
clust,,,,,
1,21,5,11,5,42
2,9,13,14,12,48
3,18,20,11,8,57
All,48,38,36,25,147

In [24]:
# Revenues split motivations

pd.crosstab(db['clust'], db['C1[C15]'], margins=True)

C1[C15],Pas du tout d'accord.,Plutôt d'accord.,Plutôt pas d'accord.,Tout à fait d'accord.,All
clust,,,,,
1,26,1,11,4,42
2,12,15,15,6,48
3,22,16,16,3,57
All,60,32,42,13,147

### Main platform choice motivations per main platforms

In [25]:
# Potential audience motivations

pd.crosstab(db['A6'], db['C1[C11]'], margins=True)

C1[C11],Pas du tout d'accord.,Plutôt d'accord.,Plutôt pas d'accord.,Tout à fait d'accord.,All
A6,,,,,
Twitch,6,17,12,23,58
Youtube,2,33,9,45,89
All,8,50,21,68,147

In [26]:
# Presence of other video makers motivations

pd.crosstab(db['A6'], db['C1[C12]'], margins=True)

C1[C12],Pas du tout d'accord.,Plutôt d'accord.,Plutôt pas d'accord.,Tout à fait d'accord.,All
A6,,,,,
Twitch,8,20,17,13,58
Youtube,16,28,22,23,89
All,24,48,39,36,147

In [27]:
# Content moderation features

pd.crosstab(db['A6'], db['C1[C13]'], margins=True)

C1[C13],Pas du tout d'accord.,Plutôt d'accord.,Plutôt pas d'accord.,Tout à fait d'accord.,All
A6,,,,,
Twitch,8,23,15,12,58
Youtube,10,34,30,15,89
All,18,57,45,27,147

In [28]:
# Monetisation features motivations

pd.crosstab(db['A6'], db['C1[C14]'], margins=True)

C1[C14],Pas du tout d'accord.,Plutôt d'accord.,Plutôt pas d'accord.,Tout à fait d'accord.,All
A6,,,,,
Twitch,19,19,14,6,58
Youtube,29,19,22,19,89
All,48,38,36,25,147

In [29]:
# Revenues split motivations

pd.crosstab(db['A6'], db['C1[C15]'], margins=True)

C1[C15],Pas du tout d'accord.,Plutôt d'accord.,Plutôt pas d'accord.,Tout à fait d'accord.,All
A6,,,,,
Twitch,23,14,19,2,58
Youtube,37,18,23,11,89
All,60,32,42,13,147

## Content moderation & sanctions

In [30]:
#Number of CP who never got sanctionned
df_never_sanctionned=db[(db['B11[B111]']=='Jamais') & (db['B11[B112]']=='Jamais')]
pd.crosstab(df_never_sanctionned['A6'], df_never_sanctionned['B11[B111]'], margins=True)

B11[B111]  Jamais  All
A6
Twitch         46   46
Youtube        33   33
All            79   79

In [31]:
#Number of CP who got sanctionned for one motive at least
df_once_sanctionned=db[(db['B11[B111]']!='Jamais') & (db['B11[B112]']=='Jamais')]
pd.crosstab(df_once_sanctionned['A6'], df_once_sanctionned['B11[B111]'], margins=True)

B11[B111]  Rarement  All
A6
Twitch            2    2
Youtube           4    4
All               6    6

In [32]:
df_once_sanctionned=db[(db['B11[B111]']=='Jamais') & (db['B11[B112]']!='Jamais')]
pd.crosstab(df_once_sanctionned['A6'], df_once_sanctionned['B11[B112]'], margins=True)

B11[B112]  Assez souvent  Rarement  Très souvent  All
A6
Twitch                 2         7             0    9
Youtube                3        30             3   36
All                    5        37             3   45

In [33]:
#Number of CP who got sanctionned for both motives
df_sanctionned=db[(db['B11[B111]']!='Jamais') & (db['B11[B112]']!='Jamais')]
pd.crosstab(df_sanctionned['A6'], df_sanctionned['B11[B111]'], margins=True)

B11[B111]  Assez souvent  Rarement  Très souvent  All
A6
Twitch                 0         1             0    1
Youtube                1        13             2   16
All                    1        14             2   17

In [34]:
#Frequency of sanctions related to non compliance of TOS

pd.crosstab(db['A6'], db['B11[B111]'], margins=True)

B11[B111]  Assez souvent  Jamais  Rarement  Très souvent  All
A6
Twitch                 0      55         3             0   58
Youtube                1      69        17             2   89
All                    1     124        20             2  147

In [35]:
#Frequency of sanctions related to copyright infrigement

pd.crosstab(db['A6'], db['B11[B112]'], margins=True)

B11[B112]  Assez souvent  Jamais  Rarement  Très souvent  All
A6
Twitch                 2      48         8             0   58
Youtube                9      37        37             6   89
All                   11      85        45             6  147

In [36]:
#Frequency of content deletion sanctions 

pd.crosstab(db['A6'], db['B12[B121]'], margins=True)

B12[B121]  Assez souvent  Jamais  Rarement  Très souvent  All
A6
Twitch                 0       5         7             0   12
Youtube                2      30        20             4   56
All                    2      35        27             4   68

In [37]:
#Frequency of distribution restrictions sanctions 

pd.crosstab(db['A6'], db['B12[B122]'], margins=True)

B12[B122]  Assez souvent  Jamais  Rarement  Très souvent  All
A6
Twitch                 2       8         2             0   12
Youtube                7      22        22             5   56
All                    9      30        24             5   68

In [38]:
#Frequency of demonetization sanctions 

pd.crosstab(db['A6'], db['B12[B123]'], margins=True)

B12[B123]  Assez souvent  Jamais  Rarement  Très souvent  All
A6
Twitch                 1       6         3             2   12
Youtube                8       4        22            22   56
All                    9      10        25            24   68

In [39]:
#Frequency of temporary account suspension

pd.crosstab(db['A6'], db['B12[B124]'], margins=True)

B12[B124]  Jamais  Rarement  Très souvent  All
A6
Twitch          9         3             0   12
Youtube        52         3             1   56
All            61         6             1   68