In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option('display.max_columns', None)
db=pd.read_csv("database.csv", sep=";")

In [3]:
db=db[(db['A6']=='Twitch') | (db['A6']=='Youtube')]

### Platform related variables

#### Channel topic

In [4]:
db.loc[db['A6']=='Twitch', 'topic'] = db['A5[A24]']
db.loc[db['A6']=='Youtube', 'topic'] = db['A5[A25]']
db['topic'].unique()

array(['Jeux Vidéo', 'Éducatif / Vulgarisation Scientifique', 'Cuisine',
       'Comédie / Humour', 'Art et culture', 'Autre', 'Sport',
       'Lifestyle : mode, beauté', 'Musique'], dtype=object)

In [5]:
db['topic'].value_counts()

Jeux Vidéo                               54
Éducatif / Vulgarisation Scientifique    36
Autre                                    22
Art et culture                           18
Comédie / Humour                          6
Sport                                     6
Lifestyle : mode, beauté                  2
Musique                                   2
Cuisine                                   1
Name: topic, dtype: int64

In [6]:
db['topic']=db['topic'].replace('Lifestyle : mode, beauté', 'Autre')
db['topic']=db['topic'].replace('Musique', 'Autre')
db['topic']=db['topic'].replace('Cuisine', 'Autre')

In [7]:
db['topic'].value_counts()

Jeux Vidéo                               54
Éducatif / Vulgarisation Scientifique    36
Autre                                    27
Art et culture                           18
Comédie / Humour                          6
Sport                                     6
Name: topic, dtype: int64

#### Production period - seniority on platform

In [8]:
db.loc[db['A6']=='Twitch', 'duration'] = db['A3[A24]']
db.loc[db['A6']=='Youtube', 'duration'] = db['A3[A25]']
db['duration'].value_counts()

Depuis cinq ans et plus.     59
Entre deux et quatres ans    40
Entre un et deux ans.        37
Depuis moins d'un an.        11
Name: duration, dtype: int64

In [9]:
db.loc[db['duration']=="Depuis moins d'un an.", 'duration']= 'Less than 2 years'
db.loc[db['duration']=='Entre un et deux ans.', 'duration']= 'Less than 2 years'

db.loc[db['duration']=='Entre deux et quatres ans', 'duration']= 'Between 2 and 4 years'
db.loc[db['duration']=='Depuis cinq ans et plus.', 'duration']= '5 years and more'

db['duration'].value_counts()

5 years and more         59
Less than 2 years        48
Between 2 and 4 years    40
Name: duration, dtype: int64

#### Number of followers

In [10]:
db.loc[db['A6']=='Twitch', 'follow'] = db['A4[A24]']
db.loc[db['A6']=='Youtube', 'follow'] = db['A4[A25]']

db.loc[db['follow']=='Moins de 1 000 personnes.', 'following'] = 'Less than 1 000 followers'
db.loc[db['follow']=='Entre 1 000 et 10 000 personnes.', 'following'] = 'Between 1 000 and 10 000 followers'

db.loc[db['follow']=='Entre 10 000 et 100 000 personnes.', 'following'] = 'Between 10 000 and 100 000 followers'
db.loc[db['follow']=='Plus de 100 000 personnes.', 'following'] = 'More than 100 000 followers'
db['following'].value_counts()

Between 10 000 and 100 000 followers    43
Between 1 000 and 10 000 followers      35
More than 100 000 followers             35
Less than 1 000 followers               34
Name: following, dtype: int64

### Variables related to creators

#### Gender

In [13]:
db['E1'].value_counts()

Un homme     113
Une femme     31
Name: E1, dtype: int64

In [12]:
db['E1']=db['E1'].replace('Non-binaire', None)

In [ ]:
db['E1'].value_counts()

In [14]:
db_econometrics=db[['A6', 'topic', 'duration', 'following', 
                   'E1', 'E2', 'E5']]

In [15]:
db_econometrics

,A6,topic,duration,following,E1,E2,E5
0,Twitch,Jeux Vidéo,Less than 2 years,Less than 1 000 followers,Un homme,De 26 à 35 ans,Sans emploi
2,Twitch,Jeux Vidéo,Between 2 and 4 years,Between 1 000 and 10 000 followers,Une femme,De 18 à 25 ans,Étudiant·e
3,Twitch,Jeux Vidéo,Between 2 and 4 years,Less than 1 000 followers,Une femme,De 36 à 50 ans,Employé·e
4,Twitch,Éducatif / Vulgarisation Scientifique,Between 2 and 4 years,Less than 1 000 followers,Une femme,De 18 à 25 ans,Cadre et profession intellectuelle supérieure
5,Twitch,Jeux Vidéo,Less than 2 years,Less than 1 000 followers,Un homme,De 26 à 35 ans,Sans emploi
...,...,...,...,...,...,...,...
149,Twitch,Jeux Vidéo,Less than 2 years,Between 1 000 and 10 000 followers,Un homme,De 26 à 35 ans,Employé·e
150,Twitch,Jeux Vidéo,Less than 2 years,Less than 1 000 followers,Un homme,De 26 à 35 ans,Employé·e
151,Twitch,Jeux Vidéo,5 years and more,Between 10 000 and 100 000 followers,Une femme,De 26 à 35 ans,"Artisan, commerçant et chef d'entreprise"
152,Twitch,Jeux Vidéo,5 years and more,More than 100 000 followers,Un homme,De 26 à 35 ans,Sans emploi
153,Twitch,Jeux Vidéo,Less than 2 years,Between 10 000 and 100 000 followers,Une femme,De 18 à 25 ans,"Artisan, commerçant et chef d'entreprise"

In [16]:
db_econometrics.to_csv('db_econometrics.csv', sep=';')